@import './theme-spring.css';
@import './theme-orange.css';
@import './theme-snow.css';
@import './reset.css';
@import './md.scss';
@import './el-fix.scss';

html {
  /* filter: hue-rotate(60deg); */
}

.icon {
  mask-repeat: no-repeat;
  mask-position: center;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: auto 4px auto 8px;
  background-color: var(--icon-bgc);
}

.dh {
  height: 1000px;
}

.db {
  border: 1px solid #5d5422;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.header-panel {
  position: sticky;
  top: 0px;
  background: var(--view-bgc-01);
  box-shadow: 0px 0px 6px var(--shadow-01);
  padding: 0 1em;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  z-index: 80;
}