@import './theme-light.css';
@import './reset.css';
@import './md.scss';
@import './el-fix.scss';

html {
  /* filter: invert(0) hue-rotate(150deg); */
  /* filter:grayscale(.3); */
}

.icon {
  mask-repeat: no-repeat;
  mask-position: center;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: auto 4px auto 8px;
  background-color: var(--icon-bgc);
}

.dh {
  height: 1000px;
}

.db {
  border: 1px solid #5d5422;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}