:root {
  /* text */
  --text-primary: #00240e;
  --text-secondary: #291b00;
  --text-tertiary: #1f0909;
  --text-grey: rgb(80, 80, 80);
  --text-01: #241c00;
  --text-02: #075500;
  --text-03: #497a00;
  /* link */
  --text-link: #003a8a;
  --text-visited: #551a8b;
  /* bgc */
  /* 偏黄色 */
  --background-primary: #eaebe3;
  /* 偏绿色 */
  --background-secondary: #E7EFE8;
  /* 偏蓝色 */
  --background-tertiary: #d2e1e2;
  --bgc-01: #86B690;
  --bgc-02: #e4ecde;
  --bgc-03: #f0f0e5;
  --bgc-04: #d5ece7;
  --btn-bgc: #c5e2cb;
  --btn-hover: #a9d9aa;
  --btn-active: #96c496;
  /* border */
  --border-primary: #a1c6b1;
  --border-secondary: #7e999e;
  /* icon */
  --icon-bgc: #878c4f;
  /* colors */
  --color-orange: #e8a644;
  --color-green: #008a00;
  --color-blue: #003a8a;
  --color-red: #8a0000;
  --color-yellow: #e8a644;
  --color-purple: #8a008a;
  /* banner */
  --site-banner-bgc: rgb(196, 222, 175);
  --site-banner-linear: linear-gradient(170deg, #69a26be9 10%, #eff3eed4 100%);
  --site-banner-border: rgb(175, 204, 168);
  --site-banner-emboss-l: rgb(222, 216, 199);
  --site-banner-emboss-r: rgb(88, 113, 125);
  --site-header-bgc: rgb(224, 231, 210);
  --site-header-shadow: rgba(51, 103, 38, 0.67);
  /* body */
  --site-body-bgc: rgb(234, 235, 227);
  --site-body-img: url('/static/svg/site-bg.svg');
  --site-body-linear: linear-gradient(270deg, rgba(132, 172, 137, 1) 0%, rgb(222, 220, 191) 50%, rgba(132, 172, 137, 1) 100%);
  /* home */
  --site-home-banner: url('/static/svg/home-banner.svg');
  --site-home-shadow: rgba(44, 59, 1, 0.505);
  --site-home-title: rgb(1, 71, 3);
  --site-home-bgc: rgba(232, 235, 214, 0.805);
  --site-home-subtitle: rgb(66, 54, 0);
  --site-home-header-shadow: rgba(69, 59, 40, 0.533);
  --site-home-describe-bgc: rgb(208, 213, 171);
  --site-home-describe-border: var(--border-secondary);
  --site-home-text-color01: rgb(16, 85, 4);
  --site-home-text-color02: rgb(85, 55, 4);
  --site-home-subject-bgc: rgba(204, 224, 191, 0.504);
  /* category */
  --view-category-bgc: #edf1df;
  --view-category-title-bgc: linear-gradient(132deg, #e6d2aa 0.00%, #b5e3e0 100.00%);
  --view-category-bgc-01: #dde9d468;
  /* article */
  --view-article-title-bgc: linear-gradient(132deg, #e0ebd5 0.00%, #25948d 100.00%);
  --view-article-content-bgc: #f0ede6;
  --linear-01: linear-gradient(90deg, #e0ebd5 0.00%, #b0d5ac 20.00%, #e0ebd5 100.00%);
  --linear-02: linear-gradient(90deg, #d6ebd5 0.00%, #8cdaa2 100.00%);
  /* code */
  --bgc-pre: #1D2021;
  --bgc-code: #ccdec9;
  --text-code: #EBDBA4;
  /* menu bar */
  --site-operation-bgc: #d0e8cf;
  --side-item-tc: rgb(72, 84, 73);
  --side-hover-item-bgc: rgb(228, 233, 196);
  --side-hover-item-tc: rgb(72, 81, 84);
  --side-active-item-bgc: rgb(233, 246, 210);
  --side-active-item-tc: rgb(72, 84, 73);
  /* toc */
  --card-right-side-bgc: #EDF1DF;
  /* footer */
  --site-footer-bgc: rgba(58, 121, 87, 0.553);
}