:root {
  /* text */
  --text-primary: #00240e;
  --text-secondary: #291b00;
  --text-tertiary: #1f0909;
  --text-grey: rgb(80, 80, 80);
  --text-01: #241c00;
  --text-02: #553e00;
  --text-03: #7a5d00;
  /* link */
  --text-link: #003a8a;
  --text-visited: #551a8b;
  /* bgc */
  /* 偏黄色 */
  --background-primary: #eaebe3;
  /* 偏绿色 */
  --background-secondary: #E7EFE8;
  /* 偏蓝色 */
  --background-tertiary: #d2e1e2;
  --bgc-01: #c5beac;
  --bgc-02: #efeee0;
  --bgc-03: #f5f3e7;
  --bgc-04: #ece9dc;
  --btn-bgc: #e2dbc5;
  --btn-hover: #d9c3a9;
  --btn-active: #c4c096;
  /* border */
  --border-primary: #c6bba1;
  --border-secondary: #9e917e;
  /* icon */
  --icon-bgc: #976a2b;
  /* colors */
  --color-orange: #e8a644;
  --color-green: #008a00;
  --color-blue: #003a8a;
  --color-red: #8a0000;
  --color-yellow: #e8a644;
  --color-purple: #8a008a;
  /* banner */
  --site-banner-bgc: #ecebde;
  --site-banner-linear: linear-gradient(170deg, #69a26be9 10%, #eff3eed4 100%);
  --site-banner-border: rgb(175, 204, 168);
  --site-banner-emboss-l: rgb(222, 216, 199);
  --site-banner-emboss-r: rgb(88, 113, 125);
  --site-header-bgc: rgb(224, 231, 210);
  --site-header-shadow: rgba(51, 103, 38, 0.67);
  /* body */
  --site-body-bgc: rgb(234, 235, 227);
  --site-body-img: url('/static/svg/site-bg.svg');
  --site-body-linear: linear-gradient(270deg, rgba(132, 172, 137, 1) 0%, rgb(222, 220, 191) 50%, rgba(132, 172, 137, 1) 100%);
  /* home */
  --site-home-banner: url('/static/svg/home-banner.svg');
  --site-home-shadow: rgba(44, 59, 1, 0.505);
  --site-home-title: rgb(1, 71, 3);
  --site-home-bgc: rgba(232, 235, 214, 0.805);
  --site-home-subtitle: rgb(66, 54, 0);
  --site-home-header-shadow: rgba(69, 59, 40, 0.533);
  --site-home-describe-bgc: rgb(208, 213, 171);
  --site-home-describe-border: var(--border-secondary);
  --site-home-text-color01: rgb(16, 85, 4);
  --site-home-text-color02: rgb(85, 55, 4);
  --site-home-subject-bgc: rgba(204, 224, 191, 0.504);
  /* category */
  --view-category-bgc: #edf1df;
  --view-category-title-bgc: linear-gradient(132deg, #e6d2aa 0.00%, #b5e3e0 100.00%);
  --view-category-bgc-01: #dde9d468;
  /* article */
  --view-article-title-bgc: linear-gradient(132deg, #e0ebd5 0.00%, #25948d 100.00%);
  --view-article-content-bgc: #f0ede6;
  --linear-01: linear-gradient(90deg, #ebead5 0.00%, #dfd9b4 20.00%, #ebe9d5 100.00%);
  --linear-02: linear-gradient(90deg, #ebe7d5 0.00%, #dac48c 100.00%);
  /* code */
  --bgc-pre: #1D2021;
  --bgc-code: #ccdec9;
  --text-code: #EBDBA4;
  /* menu bar */
  --site-operation-bgc: #e8e3cf;
  --side-item-tc: rgb(84, 80, 72);
  --side-hover-item-bgc: rgb(228, 233, 196);
  --side-hover-item-tc: rgb(72, 81, 84);
  --side-active-item-bgc: rgb(233, 246, 210);
  --side-active-item-tc: rgb(72, 84, 73);
  /* toc */
  --card-right-side-bgc: #EDF1DF;
  /* footer */
  --site-footer-bgc: rgba(58, 121, 87, 0.553);

  --chat-bot-msg-bgc: #f4f6ea;
  --chat-usr-msg-bgc: #f0f6ea;
}